<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/feedback">Feedback</a></li>
            <li><a href="/team">Team</a></li>
        </ul>
    </nav>
</header>