@import './components/transitions',
        './components/fonts',
        './components/colors',
        './components/header',
        './components/chooseRoom';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-size: 13px;
}

h1 {
    font-size: 2.5em;
    font-family: 'bitter', serif;
}
  
h2 {
    font-size: 2.3em;
    font-family: 'publicSans', sans-serif;
}

h3 {
    font-size: 2em;
    font-family: 'publicSans', sans-serif;
}
  
h4 {
    font-size: 1.5em;
    font-family: 'publicSans', sans-serif;
}

p, span {
    font-family: 'publicSans', sans-serif;
}

header ul {
    display: flex;
    list-style-type: none;
}

header ul li {
    margin: 0 1em;
}

header {
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    height: 75px;
    padding-left: 1em;
}

#content__container {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

#main__container {
    width: 70%;
    margin: 2em auto;
    background-color: #f0f0f0;
    padding: 2em;
    border-radius: 5px;
}

#main__container > h1 {
    margin-bottom: .25em;
}

#super-goals__container {
    width: 25%;
    background-color: #f0f0f0;
    padding: 2em;
    margin: 2em auto;
    border-radius: 5px;
}

#super-goals__container h1 {
    margin-bottom: 1em;
}

.goal__container {
    margin-bottom: 1em;
    background-color: white;
    cursor: pointer;
    color: black;
    transition: 200ms ease-in-out;
    border-radius: 5px;
}

.goal__container > div {
    padding: .75em;
}

.goal__container img {
    width: 2em;
}

.goal-type {
    padding: .5em;
    background-color: #34b6dd;
    color: white;
    border-radius: 5px;
    font-size: 13px;
}

.goal-type2 {
    padding: .5em;
    color: #17686d;
    font-size: 13px;
}

.goal-buttons__container {
    display: flex;
    align-items: center;
    padding: 0;
}

.goal__container div:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
}

.goal__container:hover {
    transform: scale(1.05);
}

.request_count{
    color: #000;
}

button {
    font-family: 'publicSans', sans-serif;
    padding: 10px;
    background-color: #17686d;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    margin-right: .5em;
    height: 50px;
    border: none;
    width: 10em;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

button:focus{
    outline: none;
    color: white;
    background-color: #f6ae1a;
}

button:hover {
    transform: scale(1.05);
}

#super-button__container {
    display: flex;
    margin-top: 4em;
    justify-content: space-between;
}

.filter {
    background-color: black;
    color: white;
    width: 5em;
    margin-right: 0;
}

.filter:focus {
    background-color: black;
}

#button__container span {
    color: #b4b4b4;
}

.message {
    display: flex;
    margin-top: 2em;
    background-color: white;
    padding: 1.5em 0em;
    border-radius: 5px;
}

.message span {
    display: block;
}

.message span:nth-child(3) {
    color: #888888;
    margin-top: .25em;
}

.image__container {
    width: 15em;
    border-right: 2px solid #e51f4f;
    padding: 1.5em .5em;
    text-align: center;
}

.text__container {
    width: 100%;
    padding: 1.5em;
}

.message img {
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    margin-bottom: .75em;
    width: 100px;
    height: 100px;
}

.filter__container {
    display: none;
    margin-top: 2em;
}

/* Reset Select */
select {
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #d4d4d4;
    background-image: none;
}

select {
    flex: 1;
    padding: 0 .5em;
    color: black;
    cursor: pointer;
}

/* Custom Select */
.select {
    position: relative;
    display: flex;
    width: 12em;
    height: 3em;
    line-height: 3;
    overflow: hidden;
    border-radius: .25em;
    margin-right: 0.9em;
}

/* Remove IE arrow */
select::-ms-expand {
    display: none;
}

/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #c0c0c0;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

/* Transition */
.select:hover::after {
    color: #17686d;
}

option {
    padding: 1em;
    margin: 1em;
    color: black;
}

.show {
    display: flex;
}

@media screen and (max-width: 1500px) {
    .goal__container img {
        display: none;
    }
}

@media screen and (max-width: 1400px) {
    #content__container {
        flex-direction: column;
    }

    #main__container,
    #super-goals__container {
        width: 100%;
    }

    .goal__container img {
        display: flex;
    }
}

// Mediaqueries
@media screen and (max-width: 600) {
    //
}